Чтобы пользоваться ботом S8 нужно:

1. Зарегистрироваться в телеграм через его сайт или в мобильном приложении.
2. Войти в свой аккаунт телеграма через приложение или в своём браузере через телеграм веб.
3. Найти бота в поиске телеграма:
  По ссылке - https://t.me/S8Group_bot .
  По юзернейму - S8Group_bot .
4. Начать общение с командой /start.

Все остальные функции можно узнать спросив самого бота, посмотреть наше видео по его функционалу или же посмотреть содержимое пояснительной записки.
